<h2>Liste des inscrits</h2>
<ul>
  <li *ngFor="let users of userList">
    {{ users.login }}
  </li>
</ul>
<h2>Liste des contacts</h2>
<ul>
  <li *ngFor="let contact of contactList">
    {{ contact.login }}
  </li>
</ul>
<form [formGroup]="angForm" (ngSubmit)="addContact()">
  <input type="text" class="form-control" name="login" formControlName="login" #login />
  <input type="submit" value="Ajouter" />
</form>
<form [formGroup]="angForm" (ngSubmit)="deleteContact()">
  <input type="text" class="form-control" name="login" formControlName="login" #login />
  <input type="submit" value="Supprimer" />
</form>
